<!-- Step 1    Open the product-alerts.component.html template and replace the placeholder paragraph with a "Notify Me" button that appears if the product price is over $700. -->


<!-- Step 2  Go to product-list.html -->

<!--
Step 3 Update the "Notify Me" button with an event binding to call the notify.emit() method. -->
 <!-- Go to Product-list.component.ts -->



<p *ngIf="product.price > 700">
    <!-- <button>Notify Me</button> old code pre Step 3 -->
    <button (click)="notify.emit()">Notify Me</button> <!-- Step 3 -->
  </p>


